@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  resize: none;
}

body {
  font-family: Poppins, sans-serif;
  white-space: normal;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  background-color: #f4eccd;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*=================================== loader ===================================*/
/*.loader {
  position: fixed;
  z-index: 999;
  right: 46%;
  bottom: 50%;
  border: 10px solid #ddd;
  border-radius: 50%;
  border-top: 10px solid #6e60af;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}*/

/*============================== Header Here ==============================*/
div.container {
  min-width: 1200px;
  margin: 0 10% 0 10%;
  height: 100vh;
  transition: 2s;
  background-color: inherit;
  font-weight: 500;
}

.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 2em auto 2.2em auto;
}

.text-in-header {
  font-size: 3.1rem;
  font-weight: 500;
  white-space: nowrap;
  color: #201459;
}

ul.header {
  white-space: nowrap;
  padding-top: 1em;
  display: flex;
  list-style: none;
  color: #201459;
}

ul.header a {
  font-size: 1.4em;
  font-weight: 500;
  padding: 0 0.5em;
  border-radius: 0.9em 0.2em 0.2em 0.9em;
  transition: 1s;
}

ul.header a:hover {
  transform: scale(1);
  transition: 0.5s;
  background-color: #6e60af;
  color: #f4eccd;
  border-radius: 0.9em 0.2em 0.2em 0.9em;
  padding-left: 1em;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

/*========================== Code Section ==========================*/
div.code-section {
  font-family: monospace, monospace;
  font-size: 15px;
  font-weight: 500;
  color: black;
  line-height: 1.2;
  letter-spacing: 1px;
  background: #dddddd70;
  padding: 15px 30px;
  min-width: 50%;
  margin: 15px 0;
}

div.code-section span.datatype {
  font-weight: bolder;
  color: blue;
}
div.code-section span.head,
div.code-section span.comment {
  color: green;
}
div.code-section span.body {
  color: gray;
}
div.code-section span.return {
  font-weight: bolder;
  color: indianred;
}

/* ========================== Fieldset ========================== */
fieldset {
  position: relative;
  border: 1px solid #a3a098;
  border-radius: 0.5em;
  width: 100%;
  max-width: 100%;
  /*padding: 30px 30px 50px 30px;*/
  padding: 1em 2em 5em 2em;
  margin: 0 0 3.5em 0;
}

fieldset.level {
  position: relative;
  border: 1px solid #a3a098;
  border-radius: 0.5em;
  width: 100%;
  max-width: 100%;
  /*padding: 30px 20px 50px 20px;*/
  padding: 1em 2em 4em 2em;
  margin: 0 auto 50px auto;
}

fieldset.select-content {
  padding: 2px;
  margin: 20px auto;
  border-radius: 0.5em;
}

legend {
  overflow-wrap: normal;
  font-size: 1.3em;
  font-weight: bolder;
  margin-bottom: 10px;
  padding: 0;
}

h1 {
  font-size: 1.9rem;
  color: #6e60af;
  margin: 0;
  padding: 0;
  text-align: left;
}

h2 {
  font-size: 2em;
  text-align: left;
  margin: 1.2em 0 0 0;
  color: #6e60af;
}

h3 {
  color: #634fb9;
  font-size: 18px;
  font-weight: bolder;
  margin: 35px 0 15px 0;
}

h4 {
  color: #6e60af;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 0 15px 0;
}

hr {
  min-width: 100%;
  margin: 1.3em 0;
}

hr.hr-2 {
  width: 100%;
  margin: 2.5em 0;
}

hr.vertical {
  transform: rotate(180deg);
  margin: 0 0 0 20px;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
}

video {
  display: block;
  height: auto;
  margin: 0 auto;
}

mark {
  background: #ffff74;
}

/*=============================== GRID ===============================*/

.grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: auto 50% auto auto;
  grid-gap: 20px;
  padding-top: 1px;
  align-items: top;
  /*background: green;*/
  white-space: normal;
}

.grid-container > div {
  text-align: left;
  font-size: 15px;
}

/*============================== anchor ==============================*/

div.moreinfo-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  right: 0;
  bottom: 0;
  padding: 0.7em 2em;
  /*background: green;*/
}

a {
  text-decoration: none;
  color: #5c4bac;
  transition: 1s;
  cursor: pointer;
  white-space: nowrap;
}

a:hover {
  transform: scale(1.1);
  color: #201459;
  transition: 0.5s;
}

a:active {
  opacity: 0.5;
}

label {
  color: #5c4bac;
  white-space: normal;
}

/*=========================== Normal Table ===========================*/
table {
  max-width: 100%;
  margin: 0 auto;
  background: #ddd;
  border-radius: 1.5em;
  overflow: hidden;
  border-collapse: collapse;
  font-size: 15px;
}

th {
  background: #cbc8c8;
  text-align: Center;
  padding: 7px 0;
  border: 3px solid #f4eccd;
}

tr,
td {
  text-align: left;
  padding: 10px 15px;
  border: 3px solid #f4eccd;
}

/*=========================== Listing Table ===========================*/
table.listing {
  font-size: 16px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 0;
  line-height: 1.5;
}

table.listing tr,
table.listing td {
  border: none;
  border-radius: 0;
  text-align: left;
  padding: 5px 10px 10px 10px;
  vertical-align: top;
}

/*ol & ul*/

ul {
  font-size: inherit;
  margin: 0 0 5px 0;
  cursor: default;
}

ol {
  font-size: inherit;
  margin: 0;
  cursor: default;
}

li {
  max-width: 100%;
  line-height: 1.8;
}

/*============================ dashed listing ============================*/
ul.dashed {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  list-style-type: "- ";
}

/*============================= Go Top Button =============================*/

button.gotop {
  position: fixed;
  display: relative;
  background-color: #6e60af;
  color: #f4eccd;
  font-weight: bolder;
  width: 5em;
  height: 5em;
  border-radius: 10px;
  border: none;
  right: 3%;
  bottom: 5%;
  opacity: 0.4;
  transition: 2s;
}

button.gotop:hover {
  display: fixed;
  transition: 0.5s;
  height: 10em;
  opacity: 0.8;
  border-radius: 30px 30px 10px 10px;
  color: #f4eccd;
}

/*=============================== droplist ===============================*/

details {
  display: block;
  cursor: pointer;
  margin: 0 0 0 25px;
}

details summary {
  font-size: 21px;
  color: #201459;
}

details summary a {
  font-size: 20px;
}
